<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Server Sandbox</title>
    <link href="public/styles/index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>Servers Index Page</h1>
  </body>
</html>
